# Ignora todos los archivos .class
*.class
# Ignora carpetas en específico
/GenesisApp/src/java/Config/
/GenesisApp/build/web/WEB-INF/lib/
/GenesisApp/src/conf/
/GenesisApp/web.xml
/GenesisApp/nbproject/
/GenesisApp/dist/
/GenesisApp/build/
/GenesisApp/test/
/GenesisApp/web/WEB-INF/

*.class
*.class
GenesisApp/build/web/WEB-INF/classes/Model/Cliente.class
*.class
GenesisApp/nbproject/project.xml
GenesisApp/nbproject/project.properties
GenesisApp/nbproject/private/private.xml
GenesisApp/nbproject/private/private.properties
GenesisApp/dist/GenesisApp.war
GenesisApp/dist/GenesisApp.war
*.class
GenesisApp/nbproject/private/private.xml
*.xml
