/GenesisApp/src/java/Config/
/GenesisApp/build/web/WEB-INF/lib/
/GenesisApp/src/conf/
/GenesisApp/web.xml
/GenesisApp/nbproject/
/GenesisApp/dist/
/GenesisApp/build/
*.class
/GenesisApp/test/
/GenesisApp/web/WEB-INF/
